# Ignore node_modules in the Frontend directory
Frontend/node_modules/

# Ignore .angular directory in the Frontend directory
Frontend/.angular/
 
# Ignore package-lock in Frontend directory 
Frontend/package-lock/

# Ignore node_modules in Backend directory
node_modules/ 

# Ignore package/json in Backend directory
package-lock.json
